.container{
    height: 100%;
}

.titulo{
    font-size: 50px;
}

.padding{
    padding: 20px;
}

.chart_container{
    height: 100%;
    width: auto;
}

.auto-height{
    height: 90%;
}

.boton{
    align-items: center;
    justify-content: center;
    padding: 12px 32px;
    border-radius: 4px;
    margin: 10px;
    color: black;
    background-color: #36a7d9;
}
