.general{
    height:85vh;
}
.mensajesflex{
    flex: 1;
    flex-direction: column;
}
.topbar{
    background-color: gray;
    height: 81px;
    width: 100%;
    align-items: center;
    padding: 5px;
}
.avatarchatcom{
    margin: 3%;
}
.chatarea{
    flex: 1;
    flex-direction: column;
    padding: 6px;
    margin-left: 5px;
    margin-right: 5px;
    overflow-x: scroll;
}
.chatarea::-webkit-scrollbar{
    display: none;
}
.bottombar{
    padding: 3px;
}
.messagesr{
    background-color: rgb(115, 186, 248);
    width: fit-content;
    min-width: 70px;
    border-radius: 10px;
    padding: 5px;
    margin: 3px;
}
.messagess{
    background-color: rgb(105, 227, 203);
    width: fit-content;
    min-width: 70px;
    border-radius: 10px;
    padding: 5px;
    margin: 3px;
    align-self: end;
}