.todo {
    background-color: rgb(9, 63, 137);
    width: 300px;
    border-style: solid;
    border-width: 1px;
    border-color: gray.200;
    flex-direction: column;
}
.arriba2 {
    height:81px;
    width: 100%;
    align-content: center;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color: gray.200;
    padding: 3px;
}
.avatarflex{
    align-items: center;
}
.avatar{
    margin: 3px;
}
.button{
    margin: 5px;
    padding: 4px;
    height: auto;
    width: auto;
}
.usuarios{
    align-items: center;
    padding: 4px;
    cursor: pointer;
}
.usuarios:hover{
    cursor: pointer;
    background-color: rgb(53, 87, 102);
}
.textusuarios{
    color: white;
}
.avatarchat{
    margin: 3px;
}
.chatflex{
    overflow-x: scroll;
    flex-direction: column;
    flex: 1;

}
.chatflex::-webkit-scrollbar{
    display: none;
}
.messages_user{
    padding: 10px;
    text-align: center;
}
.no_conv{
    font-size: 20px;
    text-align: center;
}